# ETL (Extract, Transform and Load)
## Trabalho Final | Prática | Grupo G
Base de dados usada: https://www.kaggle.com/datasets/whenamancodes/popular-movies-datasets-58000-movies?select=tags.csv'

Slide: [Canva](https://www.canva.com/design/DAFYb14LbAA/J_Kk7ndEoZM1m3Tw_glTIA/edit?utm_content=DAFYb14LbAA&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton)

|Alunos|Matrícula|
|--|--|
|Victor Buendia Cruz De Alvim|19/0020601|
|Lucas Ursulino Boaventura|18/0114093|
|Yudi Yamane de Azevedo|16/0149410|

##  ⚙️ Setup ===========================

In [5]:
pip install opendatasets pandas pandasql findspark pyspark sqlalchemy ipython-sql psycopg2 --quiet

Note: you may need to restart the kernel to use updated packages.

In [9]:
from pandasql import sqldf
import opendatasets as od
import pandas
import os
import re
import sqlalchemy

In [10]:
import findspark
findspark.init()
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)

23/01/29 16:46:54 WARN Utils: Your hostname, lucas resolves to a loopback address: 127.0.1.1; using 192.168.0.31 instead (on interface wlp0s20f3)
23/01/29 16:46:54 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/29 16:46:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [11]:
db = sqlalchemy.create_engine('postgresql://diqquvbkvxsebz:b92a9ea92ee38e17e3da5ca9116fd4ba2492784cd1675f017103ce8c6a29fc76@ec2-34-207-12-160.compute-1.amazonaws.com:5432/d7fdq9nknhq43j')

In [12]:
from pyspark.sql import functions as F
from pyspark.sql import types as T

## ⬇️ Extract =============================

In [13]:
if not os.path.exists('./popular-movies-datasets-58000-movies/'):
    kaggleAPI = input('[TOKEN API] Insire seu Token API do Kaggle:')

    fp = open('kaggle.json', 'w')
    fp.write(kaggleAPI)
    fp.close()

    od.download(
        'https://www.kaggle.com/datasets/whenamancodes/popular-movies-datasets-58000-movies?select=tags.csv')

    os.remove('kaggle.json')

In [14]:
csvs = {}
for dirname, _, filenames in os.walk('./popular-movies-datasets-58000-movies/'):
    for filename in filenames:
        csvs[filename] = os.path.join(dirname, filename)
        print(os.path.join(dirname, filename))

./popular-movies-datasets-58000-movies/movies.csv
./popular-movies-datasets-58000-movies/genome-scores.csv
./popular-movies-datasets-58000-movies/ratings.csv
./popular-movies-datasets-58000-movies/links.csv
./popular-movies-datasets-58000-movies/genome-tags.csv
./popular-movies-datasets-58000-movies/tags.csv

In [15]:
dfs = {}

for filename in csvs:
    file=(csvs[filename])
    newData = spark.read.format("csv").option("header","true").load(file)
    dfs[re.sub('-', '_', re.findall("(.+).csv", filename)[0])] = newData
    newData.createOrReplaceTempView(re.sub('-', '_', re.findall("(.+).csv", filename)[0]))

In [16]:
for df in dfs:
    print(df,'\n |-->', dfs[df], '\n')

movies
 |--> DataFrame[movieId: string, title: string, genres: string]

genome_scores
 |--> DataFrame[movieId: string, tagId: string, relevance: string]

ratings
 |--> DataFrame[userId: string, movieId: string, rating: string, timestamp: string]

links
 |--> DataFrame[movieId: string, imdbId: string, tmdbId: string]

genome_tags
 |--> DataFrame[tagId: string, tag: string]

tags
 |--> DataFrame[userId: string, movieId: string, tag: string, timestamp: string]

# ✨ Transform =========================

In [17]:
def sqlR(sql):
    return (spark.sql(sql).toPandas())

def tView(sql, name):
    spark.sql(sql).createOrReplaceTempView(name)

---
## Movies

In [18]:
spark.table('movies')\
.withColumn('genres', F.split(spark.table('movies')['genres'], '\|'))\
.withColumn('publish_year', F.when(F.regexp_extract(F.col('title'), '\((\d\d\d\d)\)', 1) == '', None)\
                             .otherwise(F.regexp_extract(F.col('title'), '\((\d\d\d\d)\)', 1)))\
.withColumn('title', F.when(F.trim(F.regexp_extract(F.col('title'), '(.+)\(\d\d\d\d\)$', 1))\
                           == '', F.col('title'))\
                           .otherwise(F.trim(F.regexp_extract(F.col('title'), '(.+)\(\d\d\d\d\)$', 1))))\
.createOrReplaceTempView('movies')

sql = """
    SELECT * FROM movies
"""

sqlR(sql)

,movieId,title,genres,publish_year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995
...,...,...,...,...
58093,193876,The Great Glinka,[(no genres listed)],1946
58094,193878,Les tribulations d'une caissière,[Comedy],2011
58095,193880,Her Name Was Mumu,[Drama],2016
58096,193882,Flora,"[Adventure, Drama, Horror, Sci-Fi]",2017
58097,193886,Leal,"[Action, Crime, Drama]",2018

In [19]:
sql = """

WITH M AS (
    SELECT
        M.movieId
        , M.title
        , M.genres
        , M.publish_year
        , SUM(R.rating)/COUNT(R.rating) AS average_rating
        , COUNT(DISTINCT R.userId) AS user_review_amount
        , COUNT(R.rating) AS review_amount
    FROM
        movies AS M
    LEFT JOIN
        ratings AS R
        ON TRUE
            AND M.movieId = R.movieId
    GROUP BY
        1,2,3,4
)

SELECT * FROM M


"""

tView(sql, 'movie_reviews')
sqlR(sql)

,movieId,title,genres,publish_year,average_rating,user_review_amount,review_amount
0,100010,Battle of Los Angeles,"[Action, Sci-Fi]",2011,2.478261,46,46
1,100060,Sunny (Sseo-ni),[Drama],2011,3.645161,31,31
2,100062,My Way (Mai Wei),"[Action, Drama, War]",2011,3.621622,37,37
3,100068,Comme un chef,[Comedy],2012,3.568627,102,102
4,100070,Punching the Clown,[Comedy],2009,3.538462,13,13
...,...,...,...,...,...,...,...
58093,990,Maximum Risk,"[Action, Adventure, Thriller]",1996,2.731707,984,984
58094,99043,Trishna,[Drama],2011,3.153846,13,13
58095,99566,"True Meaning of Christmas Specials, The",[Comedy],2002,3.500000,1,1
58096,99600,"Man Who Haunted Himself, The","[Drama, Fantasy, Horror, Mystery, Thriller]",1970,3.300000,5,5
58097,99960,Nursery University,[Documentary],2008,4.166667,6,6

In [20]:
sql = """

WITH M AS (
    SELECT
        M.movieId
        , M.title
        , M.genres
        , M.publish_year
        , COUNT(DISTINCT T.userId) AS user_tag_amount
        , COUNT(T.tag) AS tag_amount
        , ARRAY_AGG(DISTINCT T.tag) AS tags
    FROM
        movies AS M
    LEFT JOIN
        tags AS T
        ON TRUE
            AND T.movieId = M.movieId
    GROUP BY
        1,2,3,4
)

SELECT * FROM M


"""

tView(sql, 'movie_tags')
sqlR(sql)

,movieId,title,genres,publish_year,user_tag_amount,tag_amount,tags
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,252,782,"[UNLIKELY FRIENDSHIPS, Want, fanciful, light, ..."
1,10,GoldenEye,"[Action, Adventure, Thriller]",1995,64,152,"[CLV, memorable lines, Memorable Characters, B..."
2,100,City Hall,"[Drama, Thriller]",1996,9,20,"[undercover agent, investigation, presidential..."
3,1000,Curdled,[Crime],1996,2,10,"[bakery, murder, samurai sword, cleaning lady,..."
4,100001,"Comic, The","[Comedy, Drama]",1969,1,1,[silent film star]
...,...,...,...,...,...,...,...
58093,99989,Bonsái,[Drama],2011,2,2,"[Cristián Jiménez, nudity (topless)]"
58094,99992,Shadow Dancer,"[Crime, Drama, Thriller]",2012,4,7,"[Clive Owen, prospect preferred, IRA, spy, Jam..."
58095,99994,Thale,"[Action, Drama, Horror, Mystery]",2012,4,13,"[Original, Visually Appealing, scandinavian ta..."
58096,99996,It's a Disaster,"[Comedy, Drama]",2012,9,25,"[dark comedy, Comedy, Julia Stiles, group of f..."
58097,99999,Texas Across the River,"[Comedy, Western]",1966,2,5,"[parody, western, native american, texas, dean..."

In [21]:
sql = """

SELECT
    M.movieId
    , M.title
    , M.genres
    , M.publish_year
    , MT.user_tag_amount
    , MT.tag_amount
    , MT.tags
    , MR.average_rating
    , MR.user_review_amount
    , MR.review_amount
FROM
    movies AS M
LEFT JOIN
    movie_reviews AS MR
    ON TRUE
        AND M.movieId = MR.movieId
LEFT JOIN
    movie_tags AS MT
    ON TRUE
        AND M.movieId = MT.movieId
ORDER BY
    M.title


"""


tView(sql, 'movies_df')
sqlR(sql)

,movieId,title,genres,publish_year,user_tag_amount,tag_amount,tags,average_rating,user_review_amount,review_amount
0,51372,"""""""Great Performances"""" Cats (1998)""",[Musical],1998,3,10,"[slow motion, BD-R, Andrew Lloyd Webber, music...",2.815556,225,225
1,7789,"""11'09""""01 - September 11 (2002)""",[Drama],2002,6,15,"[9/11, woman director, library, elderly, skysc...",3.367424,132,132
2,112809,"""Diebuster """"Top wo Narae 2"""" (2004)""","[Action, Animation, Drama, Sci-Fi]",2004,2,5,"[anime, Gainax, Mecha, Sci-Fi]",3.375000,12,12
3,174029,"""Divers at Work on the Wreck of the """"Maine"""" ...",[(no genres listed)],1898,1,3,"[docudrama, diver, silent film]",3.000000,3,3
4,182853,"""How Viktor """"The Garlic"""" Took Alexey """"The S...",[Drama],2017,2,4,"[foreign, russian, black humor]",3.718750,32,32
...,...,...,...,...,...,...,...,...,...,...
58093,159678,…And the Fifth Horseman Is Fear,"[Drama, War]",1965,0,0,[],3.250000,2,2
58094,132604,キサラギ,"[Comedy, Mystery]",2007,1,2,"[small room, comedy]",3.666667,3,3
58095,132319,チェブラーシカ,"[Animation, Children]",2010,1,4,"[talking animals, puppet, USSR, Russian]",3.150000,10,10
58096,130640,貞子3D,[Horror],2012,2,7,"[vengeful ghost, ringu, online, onryo-dead gir...",2.136364,11,11
58097,157314,줄탁동시,[(no genres listed)],2012,1,1,[asian],4.000000,2,2

In [22]:
sql = """

SELECT
    M.movieId
    , L.imdbId
    , L.tmdbId
    , M.title
    , M.genres
    , M.publish_year
    , M.user_tag_amount
    , M.tag_amount
    , M.tags
    , M.average_rating
    , M.user_review_amount
    , M.review_amount
FROM
    movies_df AS M
LEFT JOIN
    links AS L
    ON TRUE
        AND M.movieId = L.movieId

"""


tView(sql, 'movies')
sqlR(sql)

,movieId,imdbId,tmdbId,title,genres,publish_year,user_tag_amount,tag_amount,tags,average_rating,user_review_amount,review_amount
0,100010,1758570,59197,Battle of Los Angeles,"[Action, Sci-Fi]",2011,4,14,"[los angeles, spaceship, alien, shootout, horr...",2.478261,46,46
1,100060,1937339,77117,Sunny (Sseo-ni),[Drama],2011,3,5,"[experimental, bullying, gang, Korea, netflix ...",3.645161,31,31
2,100062,1606384,94047,My Way (Mai Wei),"[Action, Drama, War]",2011,1,1,[world war ii],3.621622,37,37
3,100068,1911553,85872,Comme un chef,[Comedy],2012,4,5,"[Michael Youn, cooking, funny]",3.568627,102,102
4,100070,1192624,47863,Punching the Clown,[Comedy],2009,2,5,"[comedy, struggling career, comedian, good hum...",3.538462,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...
58093,99600,0066053,4910,"Man Who Haunted Himself, The","[Drama, Fantasy, Horror, Mystery, Thriller]",1970,2,7,"[ghost, madness, car crash, cult film, reality...",3.300000,5,5
58094,99675,2085002,127901,Eat Sleep Die (Äta sova dö),[Drama],2012,4,7,"[realistic, immigrants, Gabriela Pichler, work...",3.736842,19,19
58095,99811,1931388,97610,Beware of Mr. Baker,[Documentary],2012,4,9,"[rock and roll, drums, Life Story, drummer, Ja...",3.641509,53,53
58096,99901,1869593,None,O Panishyros Megistanas Ton Ninja,"[Action, Comedy, Sci-Fi]",2008,1,3,"[funny, low budget, cult]",2.125000,4,4
58097,99960,1213832,23976,Nursery University,[Documentary],2008,1,4,"[education, new york, private school, independ...",4.166667,6,6

In [47]:
movies = spark.sql('SELECT * FROM movies;').collect()

---
## Ratings

In [92]:
spark.table('ratings')\
.withColumn('dt', F.to_date(F.col('timestamp')\
                            .cast('bigint')\
                            .cast(dataType=T.TimestampType()), 'yyyy-MM-dd HH:mm:ss') )\
.withColumn('timestamp', F.col('timestamp')\
                            .cast('bigint')\
                            .cast(dataType=T.TimestampType()) )\
.createOrReplaceTempView('ratings')

sql = """

SELECT
    *
FROM
    ratings
"""


tView(sql, 'ratings')
sqlR(sql)

/home/lucas/Documentos/UNB/SBD2/TF/venv-etl/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

   userId movieId rating           timestamp          dt
0       1     307    3.5 2009-10-27 19:00:21  2009-10-27
1       1     481    3.5 2009-10-27 19:04:16  2009-10-27
2       1    1091    1.5 2009-10-27 19:04:31  2009-10-27
3       1    1257    4.5 2009-10-27 19:04:20  2009-10-27
4       1    1449    4.5 2009-10-27 19:01:04  2009-10-27
5       1    1590    2.5 2009-10-27 19:00:36  2009-10-27
6       1    1591    1.5 2009-10-27 19:04:35  2009-10-27
7       1    2134    4.5 2009-10-27 19:04:24  2009-10-27
8       1    2478    4.0 2009-10-27 19:00:39  2009-10-27
9       1    2840    3.0 2009-10-27 19:05:00  2009-10-27
10      1    2986    2.5 2009-10-27 19:04:56  2009-10-27
11      1    3020    4.0 2009-10-27 19:01:00  2009-10-27
12      1    3424    4.5 2009-10-27 19:04:04  2009-10-27
13      1    3698    3.5 2009-10-27 19:00:43  2009-10-27
14      1    3826    2.0 2009-10-27 19:00:10  2009-10-27
15      1    3893    3.5 2009-10-27 19:04:46  2009-10-27
16      2     170    3.5 2007-10-20 18:53:01  2007-10-20
17      2     849    3.5 2007-10-20 18:52:17  2007-10-20
18      2    1186    3.5 2007-10-20 18:53:31  2007-10-20
19      2    1235    3.0 2007-10-20 18:53:05  2007-10-20
20      2    1244    3.0 2007-10-20 18:52:31  2007-10-20
21      2    1296    4.5 2007-10-20 18:53:28  2007-10-20
22      2    1663    3.0 2007-10-20 18:52:45  2007-10-20
23      2    1962    4.0 2007-10-20 18:52:13  2007-10-20
24      2    2108    3.5 2007-10-20 18:52:21  2007-10-20
25      2    2243    4.5 2007-10-20 18:53:24  2007-10-20
26      2    2352    4.0 2007-10-20 18:52:55  2007-10-20
27      2    2707    3.5 2007-10-20 18:53:20  2007-10-20
28      2    2746    4.0 2007-10-20 18:52:28  2007-10-20
29      2    2915    3.5 2007-10-20 18:52:42  2007-10-20
30      2    3363    4.0 2007-10-20 18:53:16  2007-10-20
31      3     640    3.0 1999-12-14 01:20:10  1999-12-14
32      3     828    4.0 1999-12-14 01:20:10  1999-12-14
33      3     960    3.0 1999-12-14 01:16:47  1999-12-14
34      3    1221    4.0 1999-12-14 01:16:47  1999-12-14
35      3    1321    4.0 1999-12-14 01:16:47  1999-12-14
36      3    1645    4.0 1999-12-14 01:20:11  1999-12-14
37      3    1825    3.0 1999-12-14 01:20:11  1999-12-14
38      3    1985    2.0 1999-12-14 01:20:11  1999-12-14
39      3    2024    3.0 1999-12-14 01:20:11  1999-12-14
40      3    2028    5.0 1999-12-14 01:20:11  1999-12-14
41      3    3171    4.0 1999-12-14 01:16:47  1999-12-14
42      4       1    4.0 2005-04-17 16:25:37  2005-04-17
43      4       2    4.0 2005-04-17 16:48:26  2005-04-17
44      4       5    2.0 2005-08-14 00:34:13  2005-08-14
45      4       6    4.5 2005-04-17 16:47:22  2005-04-17
46      4      10    4.0 2005-04-17 16:26:35  2005-04-17
47      4      11    3.5 2005-04-17 16:48:00  2005-04-17
48      4      16    4.0 2005-04-17 16:21:31  2005-04-17
49      4      19    2.0 2005-04-17 16:48:44  2005-04-17

In [89]:
ratings = spark.sql('SELECT * FROM ratings;').collect()

---
## Tags

In [177]:
spark.table('tags')\
.withColumn('dt', F.to_date(F.col('timestamp')\
                            .cast('bigint')\
                            .cast(dataType=T.TimestampType()), 'yyyy-MM-dd HH:mm:ss') )\
.withColumn('timestamp', F.col('timestamp')\
                            .cast('bigint')\
                            .cast(dataType=T.TimestampType()) )\
.createOrReplaceTempView('tags')

sql = """

SELECT
    *
FROM
    tags
LIMIT 50

"""


tView(sql, 'tags')
sqlR(sql)

/home/lucas/Documentos/UNB/SBD2/TF/venv-etl/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:248: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

,userId,movieId,tag,timestamp,dt
0,14,110,epic,2015-09-24 23:35:38,2015-09-24
1,14,110,Medieval,2015-09-24 23:35:32,2015-09-24
2,14,260,sci-fi,2015-09-13 15:36:50,2015-09-13
3,14,260,space action,2015-09-13 15:37:01,2015-09-13
4,14,318,imdb top 250,2015-09-18 19:26:35,2015-09-18
5,14,318,justice,2015-09-18 19:26:32,2015-09-18
6,14,480,Dinosaurs,2015-09-24 23:36:03,2015-09-24
7,14,593,psychothriller,2015-10-05 00:04:46,2015-10-05
8,14,1682,philosophy,2015-09-18 19:25:58,2015-09-18
9,14,1682,surveillance,2015-09-18 19:26:07,2015-09-18
10,14,7458,Epic,2015-09-24 23:37:55,2015-09-24
11,14,95311,Pixar,2015-09-24 23:34:54,2015-09-24
12,14,117529,dinosaurs,2015-09-24 23:37:26,2015-09-24
13,27,260,classic sci-fi,2015-08-24 17:28:33,2015-08-24
14,27,260,Harrison Ford,2015-08-24 17:28:43,2015-08-24
15,27,260,must see,2015-08-24 17:28:52,2015-08-24
16,27,260,sci-fi,2015-08-24 17:28:14,2015-08-24
17,42,37733,disappointing,2010-01-21 18:34:19,2010-01-21
18,42,37733,overrated,2010-01-21 18:34:12,2010-01-21
19,42,37733,stupid,2010-01-21 18:34:27,2010-01-21
20,56,141,cliche,2013-10-11 10:17:40,2013-10-11
21,56,2028,disturbing,2010-05-25 22:38:47,2010-05-25
22,56,2028,history,2010-05-25 22:38:54,2010-05-25
23,56,2028,Steven Spielberg,2010-05-25 22:38:59,2010-05-25
24,56,2966,brothers,2011-03-28 05:44:34,2011-03-28
25,56,2966,David Lynch,2011-03-28 05:44:38,2011-03-28
26,56,2966,lawn mower,2011-03-28 05:44:43,2011-03-28
27,56,2966,melodrama,2011-03-28 05:44:45,2011-03-28
28,56,2966,obstinance,2011-03-28 05:44:50,2011-03-28
29,56,4873,metaphysics,2011-03-21 04:46:33,2011-03-21
30,56,4873,no narrative,2011-03-21 04:46:42,2011-03-21
31,56,8950,Christian Bale,2011-03-21 05:04:55,2011-03-21
32,56,8950,imaginary friend,2011-03-21 05:05:26,2011-03-21
33,56,8950,Overrated,2011-03-21 05:05:02,2011-03-21
34,56,8950,post-traumatic stress disorder,2011-03-21 05:05:10,2011-03-21
35,56,57637,black comedy,2012-12-04 06:54:21,2012-12-04
36,56,57637,love story,2012-12-04 06:54:39,2012-12-04
37,56,57637,post-apocalyptic,2012-12-04 06:55:02,2012-12-04
38,56,69784,Sacha Baron Cohen,2011-02-23 07:28:39,2011-02-23
39,56,69784,Suprises around every corner,2011-02-23 07:28:41,2011-02-23
40,56,72731,too long,2010-10-30 21:25:31,2010-10-30
41,56,79702,Kieran Culkin,2010-08-17 19:03:28,2010-08-17
42,56,79702,Mary Elizabeth Winstead,2010-08-17 19:03:34,2010-08-17
43,56,79702,Michael Cera,2010-08-17 19:03:49,2010-08-17
44,56,79702,stylized,2010-08-17 19:03:25,2010-08-17
45,56,79702,video games,2010-08-17 19:03:40,2010-08-17
46,56,80917,love story,2012-12-02 19:20:09,2012-12-02
47,56,80917,social commentary,2012-12-02 19:18:57,2012-12-02
48,56,84880,British accents,2011-12-21 14:03:51,2011-12-21
49,56,84880,Jews,2011-12-21 14:03:26,2011-12-21

In [178]:
tags = spark.sql('SELECT * FROM tags;').collect()

---
## Genres

In [182]:
sql = """

WITH E AS (
    SELECT
        movieId
        , publish_year
        , EXPLODE(genres) AS genre
    FROM
        movies
)

, F AS (
    SELECT
        genre
        , publish_year
        , COUNT(DISTINCT movieId) AS movies
    FROM
        E
    GROUP BY
        1,2
    ORDER BY
        2,1
)

SELECT * FROM F

"""


tView(sql, 'genres')
sqlR(sql)

                   genre publish_year  movies
0     (no genres listed)         None     212
1                 Action         None      16
2              Adventure         None       9
3              Animation         None       2
4               Children         None       5
...                  ...          ...     ...
2068             Romance         2018      70
2069              Sci-Fi         2018      70
2070            Thriller         2018     144
2071                 War         2018      11
2072             Western         2018      10

[2073 rows x 3 columns]

In [184]:
genres = spark.sql('SELECT * FROM genres;').collect()

---
## Load ☁️ ===========================

In [18]:
tempViews = {}

tempViews['movies'] = spark.table('movies')
tempViews['tags'] = spark.table('tags')
tempViews['ratings'] = spark.table('ratings')
tempViews['genres'] = spark.table('genres')
tempViews['genome_scores'] = spark.table('genome_scores')
tempViews['genome_tags'] = spark.table('genome_tags')

for df in dfs:
    print(df,'\n |-->', dfs[df], '\n')

links
 |--> DataFrame[movieId: string, imdbId: string, tmdbId: string]

tags
 |--> DataFrame[userId: string, movieId: string, tag: string, timestamp: string]

genome_tags
 |--> DataFrame[tagId: string, tag: string]

ratings
 |--> DataFrame[userId: string, movieId: string, rating: string, timestamp: string]

genome_scores
 |--> DataFrame[movieId: string, tagId: string, relevance: string]

movies
 |--> DataFrame[movieId: string, title: string, genres: string]

In [172]:
# Load Movies

with db.connect() as con:
    statement = sqlalchemy.text("""INSERT INTO movies (movieId, imdbId, tmdbId, title, genres, publish_year, user_tag_amount, tag_amount, tags, average_rating, user_review_amount, review_amount) VALUES (:movieId, :imdbId, :tmdbId, :title, :genres, :publish_year, :user_tag_amount, :tag_amount, :tags, :average_rating, :user_review_amount, :review_amount)""")
    format_movies = list(map(lambda x: x.asDict(), movies))
    movies_to_insert = []
    
    for idx, movie in enumerate(format_movies[:100]):
        print(f'---> INSERTING [{idx}]...')
        
        try:
            con.execute(statement, movie)
        except Exception as e:
            print(e)
            print(f'Index error: {idx}')
        
        con.commit()

---> INSERTING [0]...
---> INSERTING [1]...
---> INSERTING [2]...
---> INSERTING [3]...
---> INSERTING [4]...
---> INSERTING [5]...
---> INSERTING [6]...
---> INSERTING [7]...
---> INSERTING [8]...
---> INSERTING [9]...
---> INSERTING [10]...
---> INSERTING [11]...
---> INSERTING [12]...
---> INSERTING [13]...
---> INSERTING [14]...
---> INSERTING [15]...
---> INSERTING [16]...
---> INSERTING [17]...
---> INSERTING [18]...
---> INSERTING [19]...
---> INSERTING [20]...
---> INSERTING [21]...
---> INSERTING [22]...
---> INSERTING [23]...
---> INSERTING [24]...
---> INSERTING [25]...
---> INSERTING [26]...
---> INSERTING [27]...
---> INSERTING [28]...
---> INSERTING [29]...
---> INSERTING [30]...
---> INSERTING [31]...
---> INSERTING [32]...
---> INSERTING [33]...
---> INSERTING [34]...
---> INSERTING [35]...
---> INSERTING [36]...
---> INSERTING [37]...
---> INSERTING [38]...
---> INSERTING [39]...
---> INSERTING [40]...
---> INSERTING [41]...
---> INSERTING [42]...
---> INSERTING [43]...
---> INSERTING [44]...
---> INSERTING [45]...
---> INSERTING [46]...
---> INSERTING [47]...
---> INSERTING [48]...
---> INSERTING [49]...
---> INSERTING [50]...
---> INSERTING [51]...
---> INSERTING [52]...
---> INSERTING [53]...
---> INSERTING [54]...
---> INSERTING [55]...
---> INSERTING [56]...
---> INSERTING [57]...
---> INSERTING [58]...
---> INSERTING [59]...
---> INSERTING [60]...
---> INSERTING [61]...
---> INSERTING [62]...
---> INSERTING [63]...
---> INSERTING [64]...
---> INSERTING [65]...
---> INSERTING [66]...
---> INSERTING [67]...
---> INSERTING [68]...
---> INSERTING [69]...
---> INSERTING [70]...
---> INSERTING [71]...
---> INSERTING [72]...
---> INSERTING [73]...
---> INSERTING [74]...
---> INSERTING [75]...
---> INSERTING [76]...
---> INSERTING [77]...
---> INSERTING [78]...
---> INSERTING [79]...
---> INSERTING [80]...
---> INSERTING [81]...
---> INSERTING [82]...
---> INSERTING [83]...
---> INSERTING [84]...
---> INSERTING [85]...
---> INSERTING [86]...
---> INSERTING [87]...
---> INSERTING [88]...
---> INSERTING [89]...
---> INSERTING [90]...
---> INSERTING [91]...
---> INSERTING [92]...
---> INSERTING [93]...
---> INSERTING [94]...
---> INSERTING [95]...
---> INSERTING [96]...
---> INSERTING [97]...
---> INSERTING [98]...
---> INSERTING [99]...

In [176]:
# Load Ratings

with db.connect() as con:
    statement = sqlalchemy.text("""INSERT INTO ratings (userId, movieId, rating, timestamp, dt) VALUES (:userId, :movieId, :rating, :timestamp, :dt)""")
    format_ratings = list(map(lambda x: x.asDict(), ratings))
    ratings_to_insert = []
    
    for rating in format_ratings:
        str = '('
        for idx, v in enumerate(rating.values()):
            str += f"'{v}'"
            if idx < len(rating.values()) - 1:
                str += ', '
            else: str += ')'
        ratings_to_insert.append(str)
        
    try:
        con.execute(sqlalchemy.text(f"INSERT INTO ratings (userId, movieId, rating, timestamp, dt) VALUES {', '.join(ratings_to_insert)}"))
    except Exception as e:
        print(e)
        print(f'Index error: {idx}')

    con.commit()
    print(f'---> {len(ratings_to_insert)} ratings inserted with success!')

---> 50 ratings inserted with success!

In [181]:
# Load Tags

with db.connect() as con:
    format_tags = list(map(lambda x: x.asDict(), tags))
    tags_to_insert = []
    
    for tag in format_tags:
        str = '('
        for idx, v in enumerate(tag.values()):
            str += f"'{v}'"
            if idx < len(tag.values()) - 1:
                str += ', '
            else: str += ')'
        tags_to_insert.append(str)
        
    try:
        con.execute(sqlalchemy.text(f"INSERT INTO tags (userId, movieId, tag, timestamp, dt) VALUES {', '.join(tags_to_insert)}"))
    except Exception as e:
        print(e)
        print(f'Index error: {idx}')

    con.commit()
    print(f'---> {len(tags_to_insert)} tags inserted with success!')

---> 50 tags inserted with success!

In [199]:
# Load Genres

with db.connect() as con:
    format_genres = list(map(lambda x: x.asDict(), genres))
    genres_to_insert = []

    for genre in format_genres[:50]:
        str = '('
        for idx, v in enumerate(genre.values()):
            str += f"'{v}'"
            if idx < len(genre.values()) - 1:
                str += ', '
            else: str += ')'
        genres_to_insert.append(str)
        
    try:
        values = ', '.join(genres_to_insert)
        values = values.replace("'None'", 'null')
        con.execute(sqlalchemy.text(f"INSERT INTO genres (genre, publish_year, movies) VALUES {values}"))
    except Exception as e:
        print(e)
        print(f'Index error: {idx}')

    con.commit()
    print(f'---> {len(genres_to_insert)} genres inserted with success!')

---> 50 genres inserted with success!

---
### Rascunho

In [19]:
sql = """

SELECT * FROM movies
--WHERE title LIKE '%(500)%' OR title LIKE '%(69)%'
--WHERE publish_year = ''
--WHERE title LIKE '%Bicycle, Spoon, Apple%'
--OR title LIKE '%Millions Game, The%'
--WHERE publish_year IS NULL
WHERE title IS NULL OR title = ''
LIMIT 327
"""


sqlR(sql)
spark.sql(sql).show(truncate=False,n=327)

+-------+------+------+-----+------+------------+---------------+----------+----+--------------+------------------+-------------+
|movieId|imdbId|tmdbId|title|genres|publish_year|user_tag_amount|tag_amount|tags|average_rating|user_review_amount|review_amount|
+-------+------+------+-----+------+------------+---------------+----------+----+--------------+------------------+-------------+
+-------+------+------+-----+------+------------+---------------+----------+----+--------------+------------------+-------------+