# ETL
## Trabalho Final | Prática | Grupo G
### Alunos
- Victor
- Lucas
- Yudi

## Setup

In [1]:
pip install -q opendatasets pandas pandasql pyspark

Note: you may need to restart the kernel to use updated packages.

In [2]:
from pandasql import sqldf
import opendatasets as od
import pandas as pds
import os

## Extract

In [3]:
if not os.path.exists('./popular-movies-datasets-58000-movies/'):
    kaggleAPI = input('[TOKEN API] Insire seu Token API do Kaggle:')

    fp = open('kaggle.json', 'w')
    fp.write(kaggleAPI)
    fp.close()

    od.download(
        'https://www.kaggle.com/datasets/whenamancodes/popular-movies-datasets-58000-movies?select=tags.csv')

    os.remove('kaggle.json')

In [4]:
csvs = {}
for dirname, _, filenames in os.walk('./popular-movies-datasets-58000-movies/'):
    for filename in filenames:
        csvs[filename] = os.path.join(dirname, filename)
        print(os.path.join(dirname, filename))

./popular-movies-datasets-58000-movies/links.csv
./popular-movies-datasets-58000-movies/tags.csv
./popular-movies-datasets-58000-movies/genome-tags.csv
./popular-movies-datasets-58000-movies/ratings.csv
./popular-movies-datasets-58000-movies/genome-scores.csv
./popular-movies-datasets-58000-movies/movies.csv

In [5]:
for csv in csvs:
    print(csv)

links.csv
tags.csv
genome-tags.csv
ratings.csv
genome-scores.csv
movies.csv

In [6]:
dfs = {}

for filename in csvs:
    file=(csvs[filename])
    newData = pds.read_csv(file)
    dfs[filename] = newData

In [7]:
for df in dfs:
    print(df,' -------------')
    display(dfs[df])

links.csv  -------------

       movieId   imdbId    tmdbId
0            1   114709     862.0
1            2   113497    8844.0
2            3   113228   15602.0
3            4   114885   31357.0
4            5   113041   11862.0
...        ...      ...       ...
58093   193876    38566   78251.0
58094   193878  1754787   87558.0
58095   193880  5847740  422666.0
58096   193882  4453756  454439.0
58097   193886  7606620  540871.0

[58098 rows x 3 columns]

tags.csv  -------------

         userId  movieId                 tag   timestamp
0            14      110                epic  1443148538
1            14      110            Medieval  1443148532
2            14      260              sci-fi  1442169410
3            14      260        space action  1442169421
4            14      318        imdb top 250  1442615195
...         ...      ...                 ...         ...
1108992  283206    73017                 fun  1264379059
1108993  283206    73017  homoerotic subtext  1264379058
1108994  283206    73017              pacing  1264379058
1108995  283206    73017                plot  1264379058
1108996  283221    49651  Sylvester Stallone  1168346830

[1108997 rows x 4 columns]

genome-tags.csv  -------------

      tagId           tag
0         1           007
1         2  007 (series)
2         3  18th century
3         4         1920s
4         5         1930s
...     ...           ...
1123   1124       writing
1124   1125         wuxia
1125   1126          wwii
1126   1127        zombie
1127   1128       zombies

[1128 rows x 2 columns]

ratings.csv  -------------

          userId  movieId  rating   timestamp
0              1      307     3.5  1256677221
1              1      481     3.5  1256677456
2              1     1091     1.5  1256677471
3              1     1257     4.5  1256677460
4              1     1449     4.5  1256677264
...          ...      ...     ...         ...
27753439  283228     8542     4.5  1379882795
27753440  283228     8712     4.5  1379882751
27753441  283228    34405     4.5  1379882889
27753442  283228    44761     4.5  1354159524
27753443  283228    54286     4.5  1354159718

[27753444 rows x 4 columns]

genome-scores.csv  -------------

          movieId  tagId  relevance
0               1      1    0.02900
1               1      2    0.02375
2               1      3    0.05425
3               1      4    0.06875
4               1      5    0.16000
...           ...    ...        ...
14862523   187595   1124    0.10700
14862524   187595   1125    0.05850
14862525   187595   1126    0.03800
14862526   187595   1127    0.10225
14862527   187595   1128    0.02925

[14862528 rows x 3 columns]

movies.csv  -------------

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
58093,193876,The Great Glinka (1946),(no genres listed)
58094,193878,Les tribulations d'une caissière (2011),Comedy
58095,193880,Her Name Was Mumu (2016),Drama
58096,193882,Flora (2017),Adventure|Drama|Horror|Sci-Fi
58097,193886,Leal (2018),Action|Crime|Drama