# ETL (Extract, Transform and Load)
## Trabalho Final | Prática | Grupo G
Base de dados usada: https://www.kaggle.com/datasets/whenamancodes/popular-movies-datasets-58000-movies?select=tags.csv'

Slide: [Canva](https://www.canva.com/design/DAFYb14LbAA/J_Kk7ndEoZM1m3Tw_glTIA/edit?utm_content=DAFYb14LbAA&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton)

|Alunos|Matrícula|
|--|--|
|Victor Buendia Cruz De Alvim|19/0020601|
|Lucas Ursulino Boaventura|18/0114093|
|Yudi Yamane de Azevedo|16/0149410|

##  ⚙️ Setup ===========================

In [14]:
pip install opendatasets pandas pandasql findspark pyspark --quiet

Note: you may need to restart the kernel to use updated packages.

In [15]:
from pandasql import sqldf
import opendatasets as od
import pandas
import os
import re

In [16]:
import findspark
findspark.init()
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=pyspark-shell, master=local) created by __init__ at /var/folders/9k/d6j_tzp50jdg1b8j8_54hkr80000gn/T/ipykernel_69673/2899417565.py:5

In [ ]:
from pyspark.sql import functions as F
from pyspark.sql import types as T

## ⬇️ Extract =============================

In [ ]:
if not os.path.exists('./popular-movies-datasets-58000-movies/'):
    kaggleAPI = input('[TOKEN API] Insire seu Token API do Kaggle:')

    fp = open('kaggle.json', 'w')
    fp.write(kaggleAPI)
    fp.close()

    od.download(
        'https://www.kaggle.com/datasets/whenamancodes/popular-movies-datasets-58000-movies?select=tags.csv')

    os.remove('kaggle.json')

In [46]:
csvs = {}
for dirname, _, filenames in os.walk('./popular-movies-datasets-58000-movies/'):
    for filename in filenames:
        csvs[filename] = os.path.join(dirname, filename)
        print(os.path.join(dirname, filename))

./popular-movies-datasets-58000-movies/links.csv
./popular-movies-datasets-58000-movies/tags.csv
./popular-movies-datasets-58000-movies/genome-tags.csv
./popular-movies-datasets-58000-movies/ratings.csv
./popular-movies-datasets-58000-movies/genome-scores.csv
./popular-movies-datasets-58000-movies/movies.csv

In [54]:
dfs = {}

for filename in csvs:
    file=(csvs[filename])
    newData = spark.read.format("csv").option("header","true").load(file)
    dfs[re.sub('-', '_', re.findall("(.+).csv", filename)[0])] = newData
    newData.createOrReplaceTempView(re.sub('-', '_', re.findall("(.+).csv", filename)[0]))

In [ ]:
for df in dfs:
    print(df,'\n |-->', dfs[df], '\n')

# ✨ Transform =========================

In [ ]:
def sqlR(sql):
    return (spark.sql(sql).toPandas())

def tView(sql, name):
    spark.sql(sql).createOrReplaceTempView(name)

---
## Movies

In [55]:
spark.table('movies')\
.withColumn('genres', F.split(spark.table('movies')['genres'], '\|'))\
.withColumn('publish_year', F.when(F.regexp_extract(F.col('title'), '\((\d\d\d\d)\)', 1) == '', None)\
                             .otherwise(F.regexp_extract(F.col('title'), '\((\d\d\d\d)\)', 1)))\
.withColumn('title', F.when(F.trim(F.regexp_extract(F.col('title'), '(.+)\(\d\d\d\d\)$', 1))\
                           == '', F.col('title'))\
                           .otherwise(F.trim(F.regexp_extract(F.col('title'), '(.+)\(\d\d\d\d\)$', 1))))\
.createOrReplaceTempView('movies')

sql = """
    SELECT * FROM movies
"""

sqlR(sql)

,movieId,title,genres,publish_year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995
...,...,...,...,...
58093,193876,The Great Glinka,[(no genres listed)],1946
58094,193878,Les tribulations d'une caissière,[Comedy],2011
58095,193880,Her Name Was Mumu,[Drama],2016
58096,193882,Flora,"[Adventure, Drama, Horror, Sci-Fi]",2017
58097,193886,Leal,"[Action, Crime, Drama]",2018

In [ ]:
sql = """

WITH M AS (
    SELECT
        M.movieId
        , M.title
        , M.genres
        , M.publish_year
        , SUM(R.rating)/COUNT(R.rating) AS average_rating
        , COUNT(DISTINCT R.userId) AS user_review_amount
        , COUNT(R.rating) AS review_amount
    FROM
        movies AS M
    LEFT JOIN
        ratings AS R
        ON TRUE
            AND M.movieId = R.movieId
    GROUP BY
        1,2,3,4
)

SELECT * FROM M


"""

tView(sql, 'movie_reviews')
sqlR(sql)

In [ ]:
sql = """

WITH M AS (
    SELECT
        M.movieId
        , M.title
        , M.genres
        , M.publish_year
        , COUNT(DISTINCT T.userId) AS user_tag_amount
        , COUNT(T.tag) AS tag_amount
        , ARRAY_AGG(DISTINCT T.tag) AS tags
    FROM
        movies AS M
    LEFT JOIN
        tags AS T
        ON TRUE
            AND T.movieId = M.movieId
    GROUP BY
        1,2,3,4
)

SELECT * FROM M


"""

tView(sql, 'movie_tags')
sqlR(sql)

In [ ]:
sql = """

SELECT
    M.movieId
    , M.title
    , M.genres
    , M.publish_year
    , MT.user_tag_amount
    , MT.tag_amount
    , MT.tags
    , MR.average_rating
    , MR.user_review_amount
    , MR.review_amount
FROM
    movies AS M
LEFT JOIN
    movie_reviews AS MR
    ON TRUE
        AND M.movieId = MR.movieId
LEFT JOIN
    movie_tags AS MT
    ON TRUE
        AND M.movieId = MT.movieId
ORDER BY
    M.title


"""


tView(sql, 'movies_df')
sqlR(sql)

In [ ]:
sql = """

SELECT
    M.movieId
    , L.imdbId
    , L.tmdbId
    , M.title
    , M.genres
    , M.publish_year
    , M.user_tag_amount
    , M.tag_amount
    , M.tags
    , M.average_rating
    , M.user_review_amount
    , M.review_amount
FROM
    movies_df AS M
LEFT JOIN
    links AS L
    ON TRUE
        AND M.movieId = L.movieId

"""


tView(sql, 'movies')
sqlR(sql)

---
## Ratings

In [ ]:
spark.table('ratings')\
.withColumn('dt', F.to_date(F.col('timestamp')\
                            .cast('bigint')\
                            .cast(dataType=T.TimestampType()), 'yyyy-MM-dd HH:mm:ss') )\
.withColumn('timestamp', F.col('timestamp')\
                            .cast('bigint')\
                            .cast(dataType=T.TimestampType()) )\
.createOrReplaceTempView('ratings')

sql = """

SELECT
    *
FROM
    ratings
LIMIT 50

"""


tView(sql, 'ratings')
sqlR(sql)

---
## Tags

In [ ]:
spark.table('tags')\
.withColumn('dt', F.to_date(F.col('timestamp')\
                            .cast('bigint')\
                            .cast(dataType=T.TimestampType()), 'yyyy-MM-dd HH:mm:ss') )\
.withColumn('timestamp', F.col('timestamp')\
                            .cast('bigint')\
                            .cast(dataType=T.TimestampType()) )\
.createOrReplaceTempView('tags')

sql = """

SELECT
    *
FROM
    tags
LIMIT 50

"""


tView(sql, 'ratings')
sqlR(sql)

---
## Genres

In [ ]:
sql = """

WITH E AS (
    SELECT
        movieId
        , publish_year
        , EXPLODE(genres) AS genre
    FROM
        movies
)

, F AS (
    SELECT
        genre
        , publish_year
        , COUNT(DISTINCT movieId) AS movies
    FROM
        E
    GROUP BY
        1,2
    ORDER BY
        2,1
)

SELECT * FROM F

"""


tView(sql, 'genres')
sqlR(sql)

---
## Load ☁️ ===========================

In [80]:
tempViews = {}

tempViews['movies'] = spark.table('movies')
tempViews['tags'] = spark.table('tags')
tempViews['ratings'] = spark.table('ratings')
tempViews['genres'] = spark.table('genres')
tempViews['genome_scores'] = spark.table('genome_scores')
tempViews['genome_tags'] = spark.table('genome_tags')

for df in dfs:
    print(df,'\n |-->', dfs[df], '\n')

AnalysisException: Table or view not found: genres;
'UnresolvedRelation [genres], [], false

---
### Rascunho

In [63]:
sql = """

SELECT * FROM movies
--WHERE title LIKE '%(500)%' OR title LIKE '%(69)%'
--WHERE publish_year = ''
--WHERE title LIKE '%Bicycle, Spoon, Apple%'
--OR title LIKE '%Millions Game, The%'
--WHERE publish_year IS NULL
WHERE title IS NULL OR title = ''
LIMIT 327
"""


sqlR(sql)
spark.sql(sql).show(truncate=False,n=327)

+-------+-----+------+------------+
|movieId|title|genres|publish_year|
+-------+-----+------+------------+
+-------+-----+------+------------+